<form class="sub-block" [formGroup]="clientForm"  >
  <div class="col-10 field-block">
    <div class="col">
      <span>
        <label style="margin-right:1%;" for="nom-field">Nom *</label>
        <input formControlName="nom" style="width:250px;" id="nom-field" type="text"/>
      </span>
    </div>
    <div class="col" *ngIf="clientForm.controls.nom.touched && clientForm.controls.nom.hasError('required')">
      <small style="margin-left:9%;" id="nom-field" class="p-error">{{ err_champs }}</small>
    </div>
  </div>

  <div class="col-10 field-block">
    <div class="col">
      <span>
        <label style="margin-right:1%;" for="nom-field">Prenom *</label>
        <input formControlName="prenom" style="width:250px;" id="prenom-field" type="text"/>
      </span>
    </div>
    <div class="col" *ngIf="clientForm.controls.prenom.touched && clientForm.controls.prenom.hasError('required')">
      <small style="margin-left:9%;" id="nom-field" class="p-error">{{err_champs}}</small>
    </div>
  </div>

  <div class="col-10 field-block">
    <div class="col">
      <span>
        <label style="margin-right:1%;" for="email-field">Email *</label>
        <input formControlName="email" style="width:250px"id="email-field" type="email" formControleName="email"/>
      </span>
    </div>
    <div class="col" *ngIf="clientForm.controls.email.touched && (clientForm.controls.email.hasError('required') || clientForm.controls.email.hasError('email'))">
      <small style="margin-left:9%;" id="email-field" class="p-error">{{err_champs}}</small>
    </div>
  </div>



  <label style="margin-right:1%;margin-bottom: 1%;">Adresse:</label> <br>
  <div class="col-10 adr-block">
    <div class="col-10 field-block">
      <div class="col">
        <span>
          <label style="margin-right:1%;" for="adresse1-field"> Voie: *</label>
          <input formControlName="voie" style="width:300px;" id="adresse1-field" type="text" />
        </span>
      </div>
      <div class="col" *ngIf="clientForm.controls.voie.touched && clientForm.controls.voie.hasError('required')">
        <small  style="margin-left:9%;" id="adresse1-field" class="p-error">{{err_champs}}</small>
      </div>
    </div>

   <div class="col-10 field-block">
      <div class="col">
        <span>
          <label style="margin-right:1%;" for="adresse2-field">Complément:</label>
          <input formControlName="complement" style="width:300px;" id="adresse2-field" type="text" />
        </span>
      </div>
    </div>


    <div class="col-10 field-block">
      <div class="col">
        <span>
          <label style="margin-right:1%;" for="adresse3-field">Code postal: *</label>
          <input formControlName="codepostal" style="width:60px;" id="adresse3-field" type="text"/>
        </span>
      </div>
      <div class="col" *ngIf="clientForm.controls.codepostal.touched && clientForm.controls.codepostal.hasError('required')">
        <small  style="margin-left:9%;" id="adresse3-field" class="p-error">{{err_champs}}</small>
      </div>
    </div>

    <div class="col-10 field-block">
      <div class="col">
        <span>
          <label style="margin-right:1%;" for="adresse4-field">ville: *</label>
          <input formControlName="ville" style="width:170px;" id="adresse4-field" type="text"/>
        </span>
      </div>
      <div class="col" *ngIf="clientForm.controls.ville.touched && clientForm.controls.ville.hasError('required')">
        <small  style="margin-left:9%;" id="adresse4-field" class="p-error">{{err_champs}}</small>
      </div>
    </div>
  </div>


  <div class="col-10 field-block">
    <div class="col">
      <span>
        <label style="margin-right:1%;" for="pasword-field">Mot de passe *</label>
        <input formControlName="pswd" style="width:200px;" id="password-field" type="password"/>
      </span>
    </div>
    <div *ngIf="clientForm.controls.pswd.touched && clientForm.controls.pswd.hasError('required')" class="col">
      <small  style="margin-left:9%;" id="password-field" class="p-error">{{err_champs}}</small>
    </div>

  </div>

  <div class="col-10 field-block">
    <div class="col">
      <span>
        <label style="margin-right:1%;" for="passwordConfirm-field">Confirmation *<br>mot de passe</label>
        <input formControlName="pswd2" style="width:200px;" id="passwordConfirm-field" type="password" />
      </span>
    </div>
    <div class="col" *ngIf="clientForm.controls.pswd2.touched && clientForm.controls.pswd2.hasError('required')">
      <small  style="margin-left:9%;" id="passwordConfirm-field" class="p-error">{{err_champs}}</small>
    </div>
  </div>
  <div class="col" style="margin-top:5%;" >
    <div class="row">
        <button [disabled]="!clientForm.valid" type="button" class="btn btn-primary active" (click)="onSubmit()" >Confirmer</button>
    </div>
    <div class="row">
      <small style="margin-left:9%;" id="passwordConfirm-field" class="p-error">{{err_send}}</small>
    </div>
  </div>
</form>

