.sub-block {
  margin-top: 4%;
  margin-right: 10%;
  margin-left: 10%;

  margin-bottom: 2.5%;
}
.adr-block {
  margin-left: 1%;
  margin-bottom: 2%;
}
.field-block {
  margin-bottom: 1%;
}
small {
  color: red;
}

button {
  width: 10%;
}

.annu-btn {
  margin-right: 30%;
}
