<form class="sub-block" #form="ngForm"  >
  <div class="col-10 field-block">
    <div class="col">
      <span>
        <label style="margin-right:1%;" for="nom-field">Nom *</label>
        <input name="nom" style="width:250px;" id="nom-field" type="text"/>
      </span>
    </div>
    <div class="col">
      <small style="margin-left:9%;" id="nom-field" class="p-error">Username is not available.</small>
    </div>
  </div>

  <div class="col-10 field-block">
    <div class="col">
      <span>
        <label style="margin-right:1%;" for="email-field"> Email *</label>
        <input name="email" style="width:250px"id="email-field" type="email" formControleName="email"/>
      </span>
    </div>
    <div class="col">
      <small style="margin-left:9%;" id="email-field" class="p-error">Username is not available.</small>
    </div>
  </div>



  <label style="margin-right:1%;margin-bottom: 1%;">Adresse:</label> <br>
  <div class="col-10 adr-block">
    <div class="col-10 field-block">
      <div class="col">
        <span>
          <label style="margin-right:1%;" for="adresse1-field"> Voie: *</label>
          <input name="voie" style="width:300px;" id="adresse1-field" type="text" />
        </span>
      </div>
      <div class="col">
        <small style="margin-left:9%;" id="adresse1-field" class="p-error">Username is not available.</small>
      </div>
    </div>

   <div class="col-10 field-block">
      <div class="col">
        <span>
          <label style="margin-right:1%;" for="adresse2-field">Complément:</label>
          <input name="complement" style="width:300px;" id="adresse2-field" type="text" />
        </span>
      </div>
    </div>


    <div class="col-10 field-block">
      <div class="col">
        <span>
          <label style="margin-right:1%;" for="adresse3-field">Code postal: *</label>
          <input name="codePostal" style="width:60px;" id="adresse3-field" type="text"/>
        </span>
      </div>
      <div class="col">
        <small style="margin-left:9%;" id="adresse3-field" class="p-error">Username is not available.</small>
      </div>
    </div>

    <div class="col-10 field-block">
      <div class="col">
        <span>
          <label style="margin-right:1%;" for="adresse4-field">ville: *</label>
          <input name="ville" style="width:170px;" id="adresse4-field" type="text"/>
        </span>
      </div>
      <div class="col">
        <small style="margin-left:9%;" id="adresse4-field" class="p-error">Username is not available.</small>
      </div>
    </div>
  </div>


  <div class="col-10 field-block">
    <div class="col">
      <span>
        <label style="margin-right:1%;" for="pasword-field">Mot de passe *</label>
        <input name="pswd" style="width:200px;" id="password-field" type="password"/>
      </span>
    </div>
    <div class="col">
      <small style="margin-left:9%;" id="password-field" class="p-error">Username is not available.</small>
    </div>
  </div>

  <div class="col-10 field-block">
    <div class="col">
      <span>
        <label style="margin-right:1%;" for="passwordConfirm-field">Confirmation *<br>mot de passe</label>
        <input name="pswd2" style="width:200px;" id="passwordConfirm-field" type="password" />
      </span>
    </div>
    <div class="col">
      <small  style="margin-left:9%;" id="passwordConfirm-field" class="p-error">{{ messageErreur[6].errMsg}}</small>
    </div>
  </div>
  <div class="col" style="margin-top:5%;" >
    <div class="row">
        <button type="button" name="clear" class="annu-btn">Annuler</button>
        <button type="button" name="validate"  class="btn btn-primary active" (click)="onSubmit(form)" >Confirmer</button>
    </div>
        <div class="row">
      <small  style="margin-left:9%;" id="passwordConfirm-field" class="p-error">err !</small>
    </div>
  </div>
</form>

