<form class="sub-block" [formGroup]="clientForm">
  <div class="col-10 field-block">
    <div class="col">
      <span>
        <label style="margin-right:1%;" for="email-field">Email *</label>
        <input formControlName="nomControl" style="width:250px;" id="email-field" type="email"/>
      </span>
    </div>
    <div class="col" *ngIf="messageErreur[0].errMsg !== ''">
      <small style="margin-left:9%;"  class="p-error">{{ messageErreur[0].errMsg }}</small>
    </div>
  </div>

  <div class="col-10 field-block">
    <div class="col">
      <span>
        <label style="margin-right:1%;" for="password-field"> Mot de Passe *</label>
        <input formControlName="pswdControl" style="width:250px"id="password-field" type="password"/>
      </span>
    </div>
    <div class="col">
      <small style="margin-left:9%;" id="password-field" class="p-error">{{messageErreur[1].errMsg}}</small>
    </div>
  </div>
  <div class="col" style="margin-top:5%;" >
    <div class="row">
        <button  type="button" class="btn btn-primary active" (click)="onSubmit()" >Confirmer</button>
    </div>
    <div class="row">
      <small style="margin-left:9%;" id="passwordConfirm-field" class="p-error">{{err_send}}</small>
    </div>
  </div>
</form>
