<div class="suivi-block">
  <h4>{{title_suivi_demande}}</h4>

  <div *ngIf="produitRecaps && produitRecaps.length > 0; else emptyProducts">
    <div class="row produit" *ngFor="let produitRecap of produitRecaps" >
      <mat-card  style="background-color:yellow;">
        <mat-card-header>
          <mat-card-title>{{produitRecap.recap.marque}} - {{produitRecap.recap.model}}</mat-card-title>
          <mat-card-subtitle>Etat: {{produitRecap.label}}</mat-card-subtitle>
        </mat-card-header>
        <mat-card-content style="padding-right: 8%; padding-left: 8%;">
          <p-accordion>
            <p-accordionTab header="Recapitulatif du produit">
              <div class="accordion-body">
                <li>
                  <b>categorie :</b> {{produitRecap.recap.categorie}}
                </li>
                <li>
                  <b>caracteristique technique :</b> {{produitRecap.recap.info_tech}}
                </li>
                <li>
                  <b>caracteristique esthétique :</b> {{produitRecap.recap.info_esth}}
                </li>
              </div>
            </p-accordionTab>
            <p-accordionTab header="Action requise" [selected]="false">
              <div [ngSwitch]="produitRecap.recap.statut_validation">
                <div *ngSwitchCase="'EN_ATTENTE_REPONSE_'" >
                  <div *ngIf="produitRecap.recap.ex_state === 'INIT'; else otherMsg">
                    <p>Le prix de reprise proposé pour votre produit est de {{produitRecap.recap.prix}} euros. Faite votre choix:</p>
                  </div>
                  <ng-template #otherMsg>
                    <p>Nouvelle offre de reprise pour votre produit à {{produitRecap.recap.prix}} euros. Faite votre choix:</p>
                  </ng-template>
                  <div>
                    <mat-radio-group  aria-labelledby="radio-group-label" class="radio-group">
                      <mat-radio-button class="props" value="oui" (click)="reponseOffre(true)">Accepter l'offre
                      </mat-radio-button>
                      <mat-radio-button class="props" value="non" (click)="reponseOffre(false)">Refuser l'offre
                      </mat-radio-button>
                    </mat-radio-group>
                  </div>
                  <div>
                    <button mat-button color="primary" (click)="validate(produitRecap.recap)">Valider</button>
                  </div>
                </div>
                <div *ngSwitchCase="'EN_ATTENTE_RECEPTION_PRODUIT'" >
                  <div *ngIf="produitRecap.recap.delais && produitRecap.recap.delais > 0 ; else expireMsg">
                    <h2>Il reste {{produitRecap.recap.delais}} jour(s) pour la réception du produit !! </h2>
                  </div>
                  <ng-template #expireMsg>
                   <h2>Le produit n'a pas été receptionné !! </h2>
                  </ng-template>
                </div>
                <div *ngSwitchCase="'ANNULATION_EN_ATTENTE_REMBOURSEMENT'" >
                  <button mat-flat-button color="primary" (click)="validate(produitRecap.recap)"></button>
                   <span> Remboursement Green Repack pour récupérer votre produit: </span>
                     <div>
                      <button mat-stroked-button color="primary" (click)="validate(produitRecap.recap)">Procedez au remboursement</button>
                    </div>
                </div>
                <div *ngSwitchDefault >
                  <div>
                    <p>Aucune action n'est requise !!</p>
                  </div>
                </div>
              </div>
            </p-accordionTab>
          </p-accordion>
        </mat-card-content>
        <mat-card-footer class="footer">
          Ajouter le {{produitRecap.recap.date_ajout | date: 'yyyy/MM/dd - HH:mm'}}
        </mat-card-footer>
      </mat-card>
    </div>
  </div>

  <ng-template #emptyProducts>
    <div>
      <mat-card>
        <mat-card-content>
          <h2>Vous n'avez pas de produit en cours de demande !!</h2>
        </mat-card-content>
      </mat-card>
    </div>
  </ng-template>
</div>




