<div class="container bloc">
  <div class="col" style="margin-top: 4%;">
    <h2 > {{title}} </h2>
  </div>
  <!-- div class="notif-block" *ngIf="!showNotif; else notifBlock">
    <span class="material-icons" [matBadge]="nbNotifs" matBadgeColor="warn" matBadgeSize="medium" (click)="showNotif = !showNotif">home</span>
  </!-->
  <!-- ng-template #notifBlock>
    <div class="notif-block">
      <span class="material-icons" (click)="showNotif = !showNotif">cancel</span>
      <mat-list style="background-color:white;">
        <h3 matSubheader>Notifications</h3>
        <mat-divider></mat-divider>
        <mat-list-item> Pepper </mat-list-item>
        <mat-divider></mat-divider>
        <mat-list-item> Salt </mat-list-item>
        <mat-list-item> Paprika </mat-list-item>
      </mat-list>
    </div>
  </!-->

  <div class="col" style="margin-right: 20px;margin-left: 1150px;">
    <button  class="btn btn-link" (click)="redirect()">Deconnexion</button>
  </div>
  <ul class="nav justify-content-start-0 tabs">
    <li class="nav-item" (click)="pageType = 'DEFAULT'" [class.select]="pageType === 'DEFAULT'">
      <button type="button" class="btn btn-link"  aria-current="page">{{pages[0]}}</button>
    </li>
    <li class="nav-item" (click)="pageType = 'PAGE2'" [class.select]="pageType === 'PAGE2'">
      <button type="button" class="btn btn-link">{{pages[1]}}</button>
    </li>
    <li class="nav-item" (click)="pageType = 'PAGE3'" [class.select]="pageType === 'PAGE3'">
      <button type="button" class="btn btn-link">{{pages[2]}}</button>
    </li>
  </ul>

  <div *ngIf="pageType === 'DEFAULT'; else suiviDemBlock">
   <app-etat-gestion-demande-list></app-etat-gestion-demande-list>
  </div>
  <ng-template #suiviDemBlock>
    <div *ngIf="pageType === 'PAGE2'; else suiviParam">
      <app-demande-gestion-projetassos></app-demande-gestion-projetassos>
    </div>
    <ng-template #suiviParam>
      <h2>Page en cours de maintenace !!</h2>
    </ng-template>
  </ng-template>

</div>
