.divider {
  border-block-end: black solid 1px;
}

.block-add {
  //margin-left:0%;
  margin-top:3%;
  border: black 1px dotted;
  background-color: rgb(194, 186, 186);
  height:60px;
}

.block-demande {
  margin-top:3%;
  margin-right:2%;
  padding-right: 300px;
  border: black 1px dotted;
  background-color: rgb(194, 186, 186);
}
