/* You can add global styles to this file, and also import other style files */
@import '@angular/material/prebuilt-themes/deeppurple-amber.css';

/*
  Inscription & connexion client et marchand
*/

.block {
  margin-top:5%;
}
.tabs {
  border-block-end: black solid 1px;
}
.select {
  border-block-end: black solid 2px;
}

label {
  font-weight: bold;
}
.text-gras {
  font-weight: bold;
}

.body {
  background-color: antiquewhite;
}
